
.about-section a{
    font-size: 40px;
    font-weight:500;
    text-transform:uppercase;
    text-shadow: 1px 1px #FF0000;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

p{
    padding-top:10px;
    color:#000;
}

.alignment{
    text-align:justify;
}

.title{
    font-size:30px;
    font-weight:500;
    color:#000;
}

.title-description{
    color:salmon;
}

.picture-section img{
    height:500px;
    width: auto;
}